# Скопируйте в .env и заполните значения

BOT_TOKEN=8612875258:AAENQUFh3lhEMv0psTcHP2lKAXwIH4VEak8
ADMIN_IDS=1012812417
GROUP_ID=-1003706792533                 # Опционально, бот запомнит при загрузке
RESTAURANT_LAT=52.252702
RESTAURANT_LON=104.271701
GEO_RADIUS_M=200
CONFIRM_WINDOW_MINUTES=15
REMINDER_1=09:00
REMINDER_2=10:00
REMINDER_3=12:00
REMINDER_4=15:00

# Недельный отчёт: воскресенье 00:00 (0=Вс, 1=Пн, ..., 6=Сб)
WEEKLY_REPORT_DAY=0
WEEKLY_REPORT_TIME=00:00
